<nav class="zone blue sticky">
    <ul class="main-nav">
        <li><a href="">About</a></li>
        <li><a href="">Products</a></li>
        <li><a href="">Our Team</a></li>
        <li class="push"><a href="">Contact</a></li>
</ul>
</nav>
<div class="container">
    <img class="cover" src="assets/img/cover.jpg">
    <div class="coverText"><h1>Making the world a better place</h1></div>
</div>
<div class="zone blue grid-wrapper">
    <div class="card zone">
        <img src="assets/img/startup1.jpg">
        <div class="text">
            <h1>Team play</h1>
            <p>We believe in working together</p>
            <button>Learn more</button>
        </div>
    </div>
  <div class="card zone"><img src="assets/img/startup2.jpg">
      <div class="text">
          <h1>Team play</h1>
          <p>We believe in working together</p>
          <button>Learn more</button>
      </div>
  </div>
  <div class="card zone"><img src="assets/img/startup3.jpg">
      <div class="text">
          <h1>Team play</h1>
          <p>We believe in working together</p>
          <button>Learn more</button>
      </div>
  </div>
</div>

