.form-control:focus {
    /* color: #212529;
    background-color: #fff; */
    border-color: hsl(41, 96%, 50%);
    /* border-top-color: rgb(134, 183, 254);
    border-right-color: rgb(134, 183, 254);
    border-bottom-color: rgb(134, 183, 254);
    border-left-color: rgb(134, 183, 254); */
    /* outline: none;
    outline-color: initial;
    outline-style: initial;
    outline-width: 0px; */
    box-shadow: 0 0 0 0.5px rgb(255 211 49 / 75%); 
}